@import 'variables.css';

#board {
    display: grid;
    margin: auto;
    width: 100%;
    grid-template-rows: repeat(6, 100px);
    grid-template-columns: repeat(7, 100px);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.slot {
    background-color: var(--background-color);
    padding: 10%
}

.slot label {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-image: url(./images/globe.png);
    background-size: cover;
    background-color: azure;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.slot label.player1 {
    background-color: var(--player1-color);
    background-image: url(./images/america.png);
    background-size: cover
}

.slot label.player2 {
    background-color: var(--player2-color);
    background-image: url(./images/soviet.png);
    background-size: cover

}

.slot input[type=checkbox] {
    display: none;
}