@import "board.css";
@import "headers.css";
@import "variables.css";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 10px;
    color: rgb(252, 192, 40);
}

.gradient {
    background-image: linear-gradient(to right, blue, red);
}

.america {
    background-image: url(./images/americaWin.jpg);
    background-size: cover;
}

.soviet {
    background-image: url(./images/sovietWin.jpg);
    background-size: cover;
}