@import "board.css";
@import "headers.css";
@import "variables.css";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: auto;
    margin: auto;
    color: gold;
    background-image: repeating-linear-gradient(to right, blue, red);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
    body {
        width: 200vw;
        height: 200vh;
        background-size: 200vw;
    }
  }

.america {
    background-image: url(./images/americaWin.jpg);
    background-size: cover;
}

.soviet {
    background-image: url(./images/sovietWin.jpg);
    background-size: cover;
}